.filters {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.data-table {
  text-align: center;
  margin: 40px;
  border: 1px solid black;
  padding: 40px;
  justify-self: center;
}

.data-table th {
  border: 1px solid black;
  padding: 10 px;
}

.data-table td {
  border: 1px solid black;
  padding: 10px;
}

.actions {
  display: flex;
  justify-self: center;
  margin: 20px;
}

.actions button {
  margin: 20px;
  width: 15em;
}
