.navbar {
  background-color: #534966;
  color: white;
  height: 8vh;
  display: flex;
  align-items: center;
}

.nav-links {
  color: white;
  display: flex;
}

.nav-links a {
  color: white;
  display: flex;
  padding-left: 27vh;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-family: sans-serif;
}

.nav-logo {
  width: 2.6em;
  height: 100%;
  margin-right: 90px;
  color: white;
  justify-self: flex-start;
  display: flex;
}
